<!DOCTYPE html>
<html lang="en">

<body>
<h1>This is the {{.}} Page</h1> 
<ol>
<li><a href="/">Home</a></li>
<li><a href="/rohan">Rohan</a></li>
<li><a href="/kumar">Kumar</a></li>
<li><a href="/toppr">Toppr</a></li>
</ol>


</body>
</html>