<h1>This is Home Page</h1>

<form action="/" method = "POST">
    <input type="submit" value="Count" name = "submit-button"/>
</form>
<form method = "POST" action="/setcookie">
    <input type="submit" value="Set Counter" />
</form>
<form method = "POST" action="/readcookie">
    <input type="submit" value="Read Counter" />
</form>
